h3 {
	margin: 0 !important;
}

.global-container {
	background-color: #282c34;
	color: white;
	height: 100vh;
}

.previewer-container {
	height: 100%;
}

.editor-container {
	height: 100%;
}

.separator {
	background-color: #181a1f;
	width: 1px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
}

.action-button {
	width: 100px;
	color: white;
	background-color: transparent;
	border-radius: 10px;
	margin-left: 10px;
}

.doc-button {
	position: absolute;
	color: white;
	bottom: 40px;
	right: 40px;
}

.doc-button:hover {
	cursor: pointer;
}

.editor-pad {
	width: 100%;
	height: calc(100vh - 80px);
	resize: none;
	background-color: transparent;
	color: white;
	font-size: 15px;
}

.previewer-content {
	max-height: calc(100vh - 95px);
	resize: none;
	background-color: transparent;
	color: white;
	font-size: 20px;
	overflow: auto;
}
